#### 문제 설명
* 문자열 my_string이 매개변수로 주어질 때, my_string 안에 있는 숫자만 골라 오름차순 정렬한 리스트를 return 하도록 solution 함수를 작성해보세요.

#### 제한사항
* 1 ≤ my_string의 길이 ≤ 100
* my_string에는 숫자가 한 개 이상 포함되어 있습니다.
* my_string은 영어 소문자 또는 0부터 9까지의 숫자로 이루어져 있습니다. - - -

##### 링크
* https://school.programmers.co.kr/learn/courses/30/lessons/120850

In [5]:
# 테스트 케이스와 기대 결과
test_cases = [
	"hi12392",
	"p2o4i8gj2",
	"abcde0"
]

# solution 함수 정의
def solution(my_string):
	return sorted([int(ch) for ch in my_string if ch.isdigit()])

# 테스트 실행
for my_string in test_cases:
	result = solution(my_string)
	print(f"string값: {my_string} -> result: {result}")

string값: hi12392 -> result: [1, 2, 2, 3, 9]
string값: p2o4i8gj2 -> result: [2, 2, 4, 8]
string값: abcde0 -> result: [0]

In [7]:
import re

def solution(my_string):
    return sorted(map(int,(re.sub('[^0-9]', '', my_string))))

1.	re.sub('[^0-9]', '', my_string)
* 정규식으로 숫자(0~9)가 아닌 문자를 전부 ''(빈 문자열)로 치환 → 즉, 숫자만 남긴 문자열을 만듭니다.
* 예: "a1b23c9" → "1239"
2.	list( ... )
* 남은 숫자 문자열을 한 글자씩 잘라 리스트로 만듭니다.
* "1239" → ['1', '2', '3', '9']
* 사실 이 list()는 없어도 됩니다. 문자열 자체가 이터러블이라 map(int, 문자열)이 바로 동작해요.
3.	map(int, ...)
* 문자 '1', '2' … 를 정수 1, 2 … 로 변환합니다.
* ['1','2','3','9'] → [1, 2, 3, 9] (이터레이터 형태)
4.	sorted( ...)
* 숫자 리스트를 오름차순 정렬해서 리스트로 반환합니다.
* [1, 2, 3, 9] → [1, 2, 3, 9] (이미 오름차순이면 그대로)

In [8]:
solution("hi12392")

[1, 2, 2, 3, 9]